[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib
[submodule "external/libpng"]
	path = external/libpng
	url = https://git.code.sf.net/p/libpng/code
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/UVAtlas"]
	path = external/UVAtlas
	url = https://github.com/microsoft/UVAtlas.git
