[submodule "external/zlib"]
	path = thirdparty/zlib
	url = https://github.com/madler/zlib
[submodule "external/libpng"]
	path = thirdparty/libpng
	url = https://git.code.sf.net/p/libpng/code
[submodule "external/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "external/UVAtlas"]
	path = thirdparty/UVAtlas
	url = https://github.com/microsoft/UVAtlas.git
[submodule "thirdparty/DirectXMath"]
	path = thirdparty/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/Slartibarty/imgui_colorcodes.git
	branch = docking
[submodule "thirdparty/meshoptimizer"]
	path = thirdparty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "thirdparty/ImGuizmo"]
	path = thirdparty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/JoltPhysics"]
	path = thirdparty/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
